td.dt-nowrap { 
  white-space: nowrap 
}

table.dataTable.stripe tbody tr.odd {
  background-color: #F8F5F0;
}
table.dataTable.hover tbody tr:hover {
  background-color: #DFD7CA;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #3e3f3a !important;
  background: none #F8F5F0;
  box-shadow: none;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background: none #8E8C84;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background: none #b0afa6;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  background: none #325D88;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #DFD7CA !important;
  background: none #F8F5F0;
  border: 1px solid transparent;
}

button.dt-button,
div.dt-button,
a.dt-button {
    border: 1px solid transparent;
    cursor: pointer;
    color: #ffffff;
    background: none #325D88;
    box-shadow: none;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
    text-decoration: none;
    border: 1px solid transparent;
    background: none #244363;
}

div.dt-button-collection button.dt-button:not(.disabled),
div.dt-button-collection button.dt-button:not(.disabled),
div.dt-button-collection div.dt-button:not(.disabled),
div.dt-button-collection div.dt-button:not(.disabled),
div.dt-button-collection a.dt-button:not(.disabled),
div.dt-button-collection a.dt-button:not(.disabled) {
    background: none #F8F5F0;
    color: #98978B;
    box-shadow: none;
    border: 1px solid #DFD7CA;
}

div.dt-button-collection button.dt-button:hover:not(.disabled),
div.dt-button-collection button.dt-button:hover:not(.disabled),
div.dt-button-collection div.dt-button:hover:not(.disabled),
div.dt-button-collection div.dt-button:hover:not(.disabled),
div.dt-button-collection a.dt-button:hover:not(.disabled),
div.dt-button-collection a.dt-button:hover:not(.disabled) {
    background: none #98978B;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #DFD7CA;
}

div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
    background: none #325D88;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #DFD7CA;
}

div.dt-button-collection button.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled):hover:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled):hover:not(.disabled) {
    background: none #244363;
    box-shadow: none;
    border: 1px solid #DFD7CA;
}

